    .glass {
      background: rgba(255, 255, 255, .82);
      backdrop-filter: blur(12px)
    }

    .dark .glass {
      background: rgba(30, 30, 47, .55)
    }

    .material-symbols-rounded {
      vertical-align: -6px
    }
