        .material-symbols-rounded {
            vertical-align: -6px
        }

        .ring-soft {
            box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .08)
        }

        .dark .ring-soft {
            box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .12)
        }
