        .material-symbols-rounded {
            vertical-align: -6px;
        }

        .dark body {
            background-image: linear-gradient(to left top, #1e1e2f, #242138, #2b2440, #332649, #3d2850, #3f254a, #402244, #401f3e, #34182d, #26131e, #190b11, #000000);
            background-repeat: no-repeat;
            background-size: cover;
        }

        .student-card {
            max-width: 340px;
            width: 100%;
        }
