fastapi
uvicorn
requests
beautifulsoup4
serpapi
markdownify
rapidfuzz
python-dotenv
autogen-agentchat
openai
google-search-results
autogen-ext
tiktoken
markdown
xhtml2pdf
playwright
supabase
pydantic
google-generativeai
pydantic[email]
python-multipart
openai>=1.0.0
pymupdf
youtube-transcript-api
yt-dlp
